body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#020617,#0f172a);
  font-family:Segoe UI;
  color:white;
}

.card{
  width:420px;
  background:#111827;
  padding:20px;
  border-radius:20px;
  box-shadow:0 0 50px rgba(0,0,0,.6);
}

h2{
  text-align:center;
  margin-bottom:15px;
}

#chat{
  height:260px;
  overflow:auto;
  background:#020617;
  border-radius:15px;
  padding:10px;
  margin-bottom:15px;
}

.inputArea{
  display:flex;
  gap:10px;
}

input{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:white;
  outline:none;
}

button{
  padding:12px 16px;
  border:none;
  border-radius:10px;
  background:linear-gradient(45deg,#22c55e,#06b6d4);
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:.2s;
}

button:hover{
  transform:scale(1.05);
}
