body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#020617,#0f172a);
  font-family:Segoe UI;
  color:white;
}

.card{
  width:90%;
  max-width:420px;
  background:#111827;
  padding:20px;
  border-radius:20px;
  box-shadow:0 0 50px rgba(0,0,0,.6);
}

h2,h3{
  text-align:center;
}

#chat{
  height:300px;
  overflow:auto;
  background:#020617;
  border-radius:15px;
  padding:10px;
  margin:15px 0;
  font-size:15px;
}

.inputArea{
  display:flex;
  gap:8px;
}

input{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:white;
  outline:none;
  font-size:15px;
}

button{
  padding:12px;
  border:none;
  border-radius:10px;
  background:linear-gradient(45deg,#22c55e,#06b6d4);
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:.2s;
}

button:hover{
  transform:scale(1.05);
}

/* MOBILE FIX */
@media(max-width:500px){

  .card{
    width:95%;
    padding:15px;
  }

  #chat{
    height:250px;
  }

  button{
    padding:10px;
    font-size:14px;
  }

  input{
    font-size:14px;
  }
}
